<mat-toolbar>
  <span>Miro</span>
  <span class="example-spacer"></span>
  <a
    mat-icon-button
    class="example-icon favorite-icon"
    href="https://www.dbis.informatik.uni-goettingen.de/Mondial/"
  >
    <span class="material-icons-outlined">
      cloud
    </span>
  </a>
  <a
    mat-icon-button
    class="example-icon"
    href="https://github.com/MiroJelev/ang_api"
  >
    <span class="material-icons-outlined">
      build
    </span>
  </a>
  <a
    mat-icon-button
    class="example-icon"
    href="https://github.com/MiroJelev/ang_app"
  >
    <span class="material-icons-outlined">
      code
    </span>
  </a>
</mat-toolbar>
