#main-content{
    max-width: fit-content;
    /* display: flex; */
    margin: auto;
}

#search_section{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
}

#search_section p{
    line-height: 2;
}

.spacer {
    max-width: 500px;
    min-width: 100px;
    /* flex: 1 1 auto; */
}