#main-content{
    max-width: fit-content;
    display: flex;
    margin: auto;
}

#search{
    align-content: center;
    min-width: 300px;
    max-width: 500px;
}

.spacer {
    max-width: 500px;
    min-width: 200px;
    flex: 1 1 auto;
}