#inner_phone{
    height: 900px;
    width: 900px;
    overflow: auto;
    border: solid;
    border-radius: 20px;
    border-style: dashed;
    border-width: 2px;
}

tr.expandableRow{
    height: 0;
}