#card-box{
    max-width: 900px;
    margin: auto;
    display: flex;
    padding: 20px;
}

#card-box div{
    margin: auto;
}

.site_info_cards {
    width: 270px;
    height: 360px;
    margin: auto;
    text-align: center;
    border-bottom-right-radius: 40px;

    border: 1px;
    border: solid;
}

#card_back mat-card-content{
    font-size: x-large;
}

#card_back mat-card-content mat-card-actions{
    margin: 0 auto;
    display: block;
}