#card-box{
    display: flex;
    padding: 20px;
}

mat-card {
    max-width: 270px;
    margin: auto;
}

mat-card  img{
    width: 265px;
    height: 270px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  