<div id="card-box">
  <mat-card>
    <img
      mat-card-image
      src="assets/database.png"
      alt="Photo of database and cloud technologies used"
    />
    <mat-card-content>
      <p>Database</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>-></button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <img
      mat-card-image
      src="assets/backend.png"
      alt="Photo of backend technologies used"
    />
    <mat-card-content>
      <p>Backend</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>-></button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <img
      mat-card-image
      src="assets/angular_no_background.png"
      alt="Photo of frontend framework used"
    />
    <mat-card-content>
      <p>Frontend</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>-></button>
    </mat-card-actions>
  </mat-card>
</div>
