<div id="card-box">
  @for(card of cards; track card){
  <div
    (mouseenter)="card.currentMouseState = 'faceDown'"
    (mouseleave)="card.currentMouseState = 'faceUp'"
  >
    <mat-card
      class="site_info_cards"
      [@flip_card_right]="card.currentMouseState"
      (@flip_card_right.start)="card.currentAnimationState = 'turning'"
      (@flip_card_right.done)="card.currentAnimationState = $event['toState']"
    >
      <ng-container
        id="card_front"
        *ngIf="card.currentAnimationState === 'turning'"
      ></ng-container>
      <ng-container
        id="card_front"
        *ngIf="card.currentAnimationState === 'faceUp'"
      >
        <img
          mat-card-image
          src="{{ card.frontImage }}"
          alt="Photo technologies used for creating the site"
        />
        <mat-card-title>
          <p>{{ card.frontText }}</p>
        </mat-card-title>
      </ng-container>
      <ng-container *ngIf="card.currentAnimationState === 'faceDown'">
        <div id="card_back">
          <mat-card-content>
            {{ card.backText }}
            <mat-card-actions>
              <a mat-stroked-button  href={{card.backButtonURL}}>
                {{ card.backButtonText }}
              </a>
            </mat-card-actions>
          </mat-card-content>
        </div>
      </ng-container>
    </mat-card>
  </div>
  }
</div>
